@import "base";
.muui-actionsheet{
  position: fixed;
  left:0;bottom:0;width:100%;
  transform: translate3d(0,100%,0);
}
.muui-actionsheet-ul{ background-color: #fff;border-radius:4px;margin: 8px;overflow:hidden;}
.muui-actionsheet-ul li{line-height: 2em;padding: 7px 12px;
  text-align: center;
  border-bottom-width: 1px;
  font-size: 16px;
  color:@cus-color
}
.muui-actionsheet-ul li:last-child{border-bottom-width: 0;}
.muui-actionsheet.in{transform: translate3d(0,0,0);}