.wuui-actionsheet{
  position: fixed;
  left:0;bottom:0;width:100%;
  transition:transform 400ms ease-in-out;
  transform: translate3d(0,100%,0);
}
.wuui-actionsheet-ul{ background-color: #fff;border-radius: 12px;margin: 8px;color:#007aff;overflow:hidden;}
.wuui-actionsheet-ul li{line-height: 2em;padding: 7px 12px;
  text-align: center;
  border-bottom-width: 1px;
  font-size: 20px;}
.wuui-actionsheet-ul li.active{background-color: #d9d9d9;}
.wuui-actionsheet-ul li:last-child{border-bottom-width: 0;}
.wuui-actionsheet.in{transform: translate3d(0,0,0);}