@muui-color:#06c1ae;/**颜色,主要图标,按钮等**/
@danger-color:#E64340;
@warning-color:#faa732;
@success-color:#5bb75b;
@info-color:#49afcd;
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,textarea,select,optgroup,option,fieldset,legend,p,blockquote,th,td{
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
input,textarea{border:none;outline: none;color: #333;}
.error::-webkit-input-placeholder,.error{color:@danger-color}
ul,li{list-style:none;}
a{text-decoration: none;color:inherit}
body{color:#333;font-size:14px;}
.muui-color{color:@muui-color}
.align-center{text-align: center!important;}
.align-right{text-align: right!important;}
.align-middle{vertical-align: middle!important;}
.align-top{vertical-align: top!important;}
.muui-danger{color:@danger-color!important;}
.muui-warning{color:@warning-color!important;}
.muui-success{color:@success-color!important;}
.muui-info{color:@info-color!important;}
.muui-tag{color:#fff;font-size: 12px;border-radius: 0;}
.muui-gray{color:#ccc!important;}
.cls:after{content:"";display: block;height: 0;clear: both;line-height: 0;overflow: hidden;}
.inline-block{display: inline-block;}
.hide{display: none;}
[data-ac='click-active']{position:relative;}
[data-ac='click-active'] > *{position: relative;}
.click-active[data-ac='click-active']:before{content:"";position:absolute;top:0;left:0;right:0;bottom:0;background-color: rgba(0,0,0,0.1)}
.click-active.muui-border-radius[data-ac='click-active']:before{top:-5px;bottom:-5px;left:-5px;right:-5px;border-radius: 4px;}
.line-clamp-1{display: -webkit-box;-webkit-box-orient:vertical;overflow: hidden;-webkit-line-clamp:1;}
.line-clamp-2{display: -webkit-box;-webkit-box-orient:vertical;overflow: hidden;-webkit-line-clamp:2;}
.line-clamp-3{display: -webkit-box;-webkit-box-orient:vertical;overflow: hidden;-webkit-line-clamp:3;}
.line-clamp-4{display: -webkit-box;-webkit-box-orient:vertical;overflow: hidden;-webkit-line-clamp:4;}
.small{font-size: 12px;color:#999;}
.x-small{font-size: 10px;color:#999;}
.muui-fixed-center{position:fixed;top:50%;left:50%;transform: translate(-50%, -50%);background-color: rgba(0,0,0,0.7);width:80%;border-radius:4px;}
.muui-border,hr{border:0;border-style:solid;border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACRJREFUeNpivHv37n8GLIAFSjOiif9nYsABSJeA2YHhAIAAAwCMHQWlmEwsxgAAAABJRU5ErkJggg==') 2 2 stretch;}
.muui-border-radius{border-width: 5px;
  border-radius: 5px;
  border-style:solid;
  border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWVJREFUeNrsls1Kw0AQx5P1C6ngI4jJoWAV+xAeKnoRX6Gea9W3ED8OHiz4GoIHH0Jp9ZSI4ivYg5E2/qadheBHTXFz68CPLNnNf2Z2Z3fjp2nqicVx7KmtQB02YRnmvNH2Dk9wA1dhGD5mO02mPQsX0IZX2IFF8H8CoQE6Zle/aRPoJcxbUV8y4IWIX8MDHED/j6g9xL+9Q0cCPoaqzABjEpvBmYrv5xEf4bQPhzoLp4MMoiiq8LzXue6NIfZrH5lM6dqsG13Qo3HEczjvqWZdHNS0AlybaNbEQaBl5tpEMzBanolrdakg0TZewTZxMHHgxkGie8GpcR4t8HgzdscVEPwSvBh7ZhTgYANu5bhepXFX0HFdNQzs0GjBicPoRasl2raKmiAXz/l/KkuuTBDxNdUciunJtwXT8AENKMNMDtESVKCh35ZgWzWHl/6X3xbJZE8XPsjhpAvPsqD629LJdn4KMABzy3VSREKSDAAAAABJRU5ErkJggg==') 10 10 stretch;}
hr{border-top-width:1px;height: 0;line-height: 0;margin: 0;}
@font-face {
  font-family: "muuifont";
  src:url('../font/iconfont.woff?t=1490316960935') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1490316960935') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1490316960935#iconfont') format('svg'); /* iOS 4.1- */
}
.muui-font{font-style:normal;font-size:1.5rem;font-family: muuifont;color:@muui-color}