@cus-color:#fe9440;/**颜色,主要图标,按钮等**/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,textarea,select,optgroup,option,fieldset,legend,p,blockquote,th,td{
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul,li{list-style:none;}
.fade {
  opacity: 0;
  transition: opacity 200ms linear,transform 200ms ease-out;
}
.fade.in{opacity: 1;}
.modal{
  position: fixed;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal-backdrop.fade {
  opacity: 0;
  transition: opacity .3s linear;
}
.modal-backdrop.in {
  opacity: 0.5;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.wuui-hide{display: none;}
.wuui-border-1px{border:0;border-style:solid;border-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACRJREFUeNpivHv37n8GLIAFSjOiif9nYsABSJeA2YHhAIAAAwCMHQWlmEwsxgAAAABJRU5ErkJggg==') 2 2 stretch;}
