@import "base";
.btn{text-align:center;display: block;border-radius:4px;border:none;padding:0.7em 0.8em;font-size: 16px;}
.btn.inline-block{padding: 0.4em 0.8em;}
.btn:focus{outline: none;}
.btn.btn-sm{font-size: 14px;padding: 0.3em 0.4em;}
.btn[disabled]{opacity:0.5}