@import "base";
.btn{text-align:center;display: block;border-radius:4px;padding:0 6px;border:none;line-height:40px;}
.btn.sm{line-height:26px;}
.btn[data-type='default']{color:@cus-color}
.btn[data-type='primary']{background-color: @cus-color;color:#fff;}
.btn[data-type='danger']{background-color:#E64340;color:#fff;}
.btn[data-type='success']{background-color:#5bb75b;color:#fff;}
.btn[data-type='warning']{background-color:#faa732;color:#fff;}
.btn[data-type='info']{background-color:#49afcd;color:#fff;}
.btn[disabled]{opacity:0.5}