@import "base";
.wuui-dialog{background-color: #fff;}
.wuui-dialog .modal-header h3{text-align: center;padding:16px 10px 0;font-weight:normal;font-size: 15px;}
.wuui-dialog .modal-body{padding: 10px 10px 16px;color:#888;font-size: 15px;}
.wuui-dialog .modal-footer{display:table;width: 100%;}
.wuui-dialog .modal-footer .btn{display: table-cell;text-align: center;position:relative;border-radius: 0;}
.wuui-dialog .modal-footer .btn[data-type='default']{border-top-width:1px;color:@cus-color}