@import "base";
.wuui-form{background-color:#f8f8f8}
.wuui-form .wuui-table{padding:8px 0;box-sizing: border-box;width: 100%!important;}
.wuui-form .wuui-table .wuui-cell{height:2em;padding:0;}
.wuui-form .wuui-table .wuui-label{width:6em;color:#999;}
.wuui-form .wuui-table .feedback{width:2em;text-align: right;}
.wuui-form input[type='text'],.wuui-form textarea{box-sizing:border-box;width:100%;font-size: 15px;background-color: transparent;}
.wuui-form textarea{resize: none;}
.wuui-form dl{background-color: #fff;border-top-width:1px;border-bottom-width: 1px;}
.wuui-form dt{padding:8px 12px 4px;color:#999;}
.wuui-form .wuui-list .wuui-item{margin-left: 12px;padding:0 12px 0 0;}
.wuui-form .wuui-list .wuui-item:last-child{border-bottom-width: 0;}
.wuui-form .btn{margin:12px;}
.wuui-form input[type='radio'],.wuui-form input[type='checkbox']{display: none;}
.wuui-form input[type='radio']+.wuui-font:before{content:"\e72f";color:#ccc}
.wuui-form input[type='radio']:checked+.wuui-font:before{content:"\e71f";color:@cus-color}
.wuui-form input[type='checkbox']+.wuui-font:before{content:"\e720";color:#ccc}
.wuui-form input[type='checkbox']:checked+.wuui-font:before{content:"\e722";color:@cus-color}
.wuui-form .wuui-agree{padding: 8px 10px;font-size: 14px;}
.wuui-form .wuui-agree .wuui-font{display: inline-block;vertical-align: middle;font-size:1.2em;}
.wuui-img-upload{padding-bottom: 12px;width: 100%;overflow: hidden;}
.wuui-img-upload ul{width: 104%;margin-top: -4%;}
.wuui-img-upload .wuui-img-div{width:21%;margin-top:4%;margin-right:4%;padding-top: 21%;background-size:cover;float:left;background-repeat: no-repeat;background-position: center center;box-sizing: border-box;background-color: #eee;position:relative;}
.wuui-img-upload .wuui-img-add{border:1px solid #ddd;position: absolute;top:0;bottom:0;left:0;right:0;overflow: hidden;}
.wuui-img-upload .wuui-img-add .wuui-font{position:absolute;left:50%;top:50%;transform: translate(-50%,-50%)}
.wuui-img-upload input[type='file']{position:absolute;top:0;bottom:0;left:0;right:0;opacity:0;font-size: 200em;}