.muui-table{display: table;table-layout: fixed;width:100%;}
.muui-list .muui-item{border-bottom-width:1px;padding:4px 8px;}
.muui-list .muui-item .main-info{margin-bottom:4px;font-size: 16px;}
.muui-list .image-cell{width: 40px;}
.muui-list .option-cell{width:24px;text-align: right;}
.muui-list img{display:block;width:100%;}
.muui-list .muui-tag{display: inline-block;padding: 2px;line-height: 1em;}
.muui-table .muui-cell{word-break: break-all; word-wrap:break-word;display: table-cell;vertical-align: top;padding:4px;}
.muui-list .muui-item .description{font-size: 14px;color:#999;}


