.wuui-table{display: table;table-layout: fixed;}
.wuui-list .wuui-item{border-bottom-width:1px;padding:4px 8px;}
.wuui-list .wuui-item .main-info{margin-bottom:4px;font-size: 16px;}
.wuui-list img{display:block;width: 40px;height: 40px;margin:0 4px 4px 0}
.wuui-list .wuui-tag{display: inline-block;padding: 2px;line-height: 1em;}
.wuui-table .wuui-cell{display: table-cell;vertical-align: top;padding:4px;}
.wuui-list .wuui-item .small{font-size: 12px;color:#999;}
.wuui-list .wuui-item .description{font-size: 14px;color:#999;}
.wuui-list .wuui-item .wuui-tag{color:#fff;font-size: 12px;border-radius: 0;}

